SENTRY_DSN=
SPIDERMON_TELEGRAM_FAKE=True
SPIDERMON_SENTRY_FAKE=True
DJANGO_SETTINGS_MODULE=web.settings
DJANGO_CONFIGURATION=Dev
DJANGO_SECRET_KEY=dont-tell-anybody
ACCESS_TOKEN_LIFETIME_IN_MINUTES=60
REFRESH_TOKEN_LIFETIME_IN_MINUTES=60
