-r requirements.txt
black==22.12.0
django-debug-toolbar==3.8.1
flake8==6.0.0
isort==5.12.0
model-bakery==1.9.0
pre-commit==3.3.2
pytest==7.3.1
pytest-django==4.5.2
pytest-dotenv==0.5.2
pytest-mock==3.10.0
