boto3==1.14.52
dj-database-url==0.5.0
django==3.1.1
django-configurations==2.2
django-public-admin==0.0.3
django-simple-history==2.11.0
dramatiq[rabbitmq,watch]==1.9.0
gunicorn==20.0.4
jinja2==2.11.2
psycopg2-binary==2.8.5
python-dotenv==0.14.0
schematics==2.1.0
scrapy==2.3.0
sentry-dramatiq==0.3.2
sentry-sdk==0.18.0
spidermon==1.13.0
tika==1.24
whitenoise==5.2.0
xlrd==1.2.0
