<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dados Abertos de Feira</title>
    <link rel="shortcut icon" href="{% static "home/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "home/hero.css" %}">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "home/style.css" %}">

    {% include 'snippets/google-analytics.html' %}
</head>

<body>
    <section class="hero is-info is-medium background">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger burger has-text-white" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="https://www.instagram.com/dadosabertosdefeira/" class="navbar-item" target="_blank"
                                title="Instagram">
                                <span class="icon">
                                    <i class="fa fa-instagram"></i>
                                </span>
                            </a>
                            <a href="https://www.facebook.com/dadosabertosdefeira" class="navbar-item" target="_blank"
                                title="Facebook">
                                <span class="icon">
                                    <i class="fa fa-facebook"></i>
                                </span>
                            </a>
                            <a href="https://twitter.com/dadosdefeira" class="navbar-item" target="_blank"
                                title="Twitter">
                                <span class="icon">
                                    <i class="fa fa-twitter"></i>
                                </span>
                            </a>
                            <a href="https://t.me/joinchat/DRT0JBcy-RUk2GJZCnH3Fg" class="navbar-item" target="_blank"
                                title="Telegram">
                                <span class="icon">
                                    <i class="fa fa-telegram"></i>
                                </span>
                            </a>
                            <a href="https://chat.whatsapp.com/GH5ZWluVZxhDRDcJLAuF2w" class="navbar-item"
                                target="_blank" title="Whatsapp">
                                <span class="icon">
                                    <i class="fa fa-whatsapp"></i>
                                </span>
                            </a>
                            <span class="navbar-item">
                                <a class="button has-text-weight-medium" href="https://github.com/DadosAbertosDeFeira"
                                    target="_blank" title="Github">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span title="Código fonte">Código fonte</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered hide">
                <h1 class="title is-2">
                    Dados Abertos de Feira
                </h1>
                <h2 class="content is-large">
                    Uma iniciativa para fomentar a <b>transparência</b> e os <b>dados abertos</b> no município de
                    <b>Feira de Santana</b>
                </h2>
            </div>
        </div>
    </section>
    <div class="box cta">
        <p class="has-text-centered">
            <a href="https://anchor.fm/cidadesabertas/" target="_blank"
                rel="noopener noreferrer">
                <span class="tag is-success is-large is-light">Podcast Cidades Abertas</span>
            </a>
            <a href="https://datastudio.google.com/reporting/c1df25a0-a561-4984-abf1-0dc2f7151402/page/8I3DC" target="_blank"
                rel="noopener noreferrer">
                <span class="tag is-warning is-large is-light">Mapa da violência em Feira</span>
            </a>
        </p>
    </div>
    <section class="container">
        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-tachometer"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title is-5">Busca nos dados</h3>
                            <p>
                                Estamos coletando os dados abertos do município para que
                                fique mais fácil para você fazer buscas e baixá-los.
                            </p>
                            <p><a href="/painel">Acesse aqui</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-medium"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title is-5">Blog</h3>
                            <p>
                                Acompanhe o que temos feito, análises de dados da cidade e
                                mais conteúdo sobre dados abertos e transparência em Feira!
                            </p>
                            <p><a href="https://medium.com/@dadosabertosdefeira" target="_blank">Ir para o blog</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-github"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title is-5">Contribua</h3>
                            <p>
                                Essa é uma iniciativa voluntária, feita a muitas mãos, e
                                qualquer pessoa interessada pode fazer parte!
                            </p>

                            <p>
                                <a href="mailto:dadosabertosdefeira+site@gmail.com" target="_blank">
                                    Envie um e-mail para a gente
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-3 is-offset-2">
                    <h2><strong>Portais da Transparência</strong></h2>
                    <ul class="content">
                        <li><a class="footer-link" href="http://www.transparencia.feiradesantana.ba.gov.br/">Portal da
                                Prefeitura</a></li>
                        <li><a class="footer-link" href="https://www.transparencia.feiradesantana.ba.leg.br/">Portal da
                                Câmara</a></li>
                    </ul>
                </div>
                <div class="column is-3">
                    <h2><strong>Lei de Acesso à Informação</strong></h2>
                    <ul class="content">
                        <li><a class="footer-link"
                                href="https://escoladedados.org/tutoriais/solicitando-dados-via-lei-de-acesso-a-informacao/">Como
                                fazer um pedido de informação</a></li>
                        <li><a class="footer-link"
                                href="http://www.transparencia.feiradesantana.ba.gov.br/index.php?view=contato">Faça um
                                pedido para a Prefeitura</a></li>
                        <li><a class="footer-link"
                                href="https://www.transparencia.feiradesantana.ba.leg.br/index.php?view=contato">Faça um
                                pedido para a Câmara</a></li>
                        <li><a class="footer-link"
                                href="https://www.politize.com.br/artigo-5/livre-acesso-a-informacao/">O que é a Lei de
                                Acesso à Informação</a></li>
                        <li><a class="footer-link" href="https://www.gov.br/acessoainformacao/pt-br">LAI no Governo
                                Federal</a></li>
                    </ul>
                </div>
                <div class="column is-4">
                    <h2><strong>Nossas Redes Sociais</strong></h2>
                    <ul class="content">
                        <li><a class="footer-link" href="https://fb.me/dadosabertosdefeira">Facebook</a></li>
                        <li><a class="footer-link" href="https://twitter.com/dadosdefeira">Twitter</a></li>
                        <li><a class="footer-link" href="https://www.instagram.com/dadosabertosdefeira/">Instagram</a>
                        </li>
                        <li><a class="footer-link" href="https://medium.com/@dadosabertosdefeira">Blog</a></li>
                        <li><a class="footer-link" href="https://github.com/DadosAbertosDeFeira/">Github</a></li>
                    </ul>
                </div>
            </div>
            <div class="content has-text-centered">
                <div class="control level-item">
                    <a href="https://github.com/BulmaTemplates/bulma-templates" target="_blank">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Bulma Templates</span>
                            <span class="tag is-link">MIT license</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="{% static "home/bulma.js" %}"></script>
    </footer>
</body>

</html>
